.App {
  text-align: center;
}

.Card {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  border: 3px solid cornflowerblue;
  border-radius: 8px;
}

.Card-Labels {
  justify-content: left;
  margin: 2rem;
  min-width: 10rem;
}

.Card-Data {
  justify-content: right;
  margin: 2rem;
  width: auto;
}

html {
  background-color: whitesmoke;
  font-size: 1.25rem;
}

hr {
  color: cornflowerblue;
}

li {
  list-style: none;
  font-weight: bold;
}
