.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Card {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  border: 3px solid cornflowerblue;
  border-radius: 8px;
}

.Card__Labels {
  justify-content: left;
  margin: 5rem;
}

.Card__Data {
  justify-content: right;
  margin: 5rem;
}

html {
  background-color: whitesmoke;
}

hr {
  color: cornflowerblue;
}

li {
  list-style: none;
  font-weight: bold;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
